.offerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4vmax;
}
.offerSection img{
    transition: all 0.5s;
}
.offerSection img:hover{
    box-shadow: 6px 6px 15px gray;
}