.videos{
    display: flex;
    width: 90vw;
    margin: auto;

}
@media screen and (max-width:768px){
    .videos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
         
  
    }
    
}